body{
    background-color: black;
}
nav{
    text-align: center;
    position: fixed;
    width: 100%;
}
li {
    text-align: center;
    display: inline-block;
    padding: 0px 1%;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:orange;
}
header{
    background-image: url('img/ironman.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;
    color: white;
}
#main{
    display: relative;
    left: 50%;
    top: 50%;
    transform: translate(10%, 150%);
    width: fit-content;
}
.title{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.subTitle{
    font-family: 'Bungee Spice', cursive;
    padding: 0;
    margin: 0;
    font-size: 70px;
    text-align: center;
}

main{
    width: 100%;
    height: 100%
}
#about{
    margin: 20px auto;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 120px;
 }
#about h1{
    font-family: 'Bungee Spice', cursive;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 120px;
    text-align: center;
 }
.aboutBody{
    background-color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 20px #f44336,
    0 0 40px #f44336,
    0 0 80px #f44336;
}
table{
    margin:auto;
    text-align: center;
}
#movies h1{
    font-family: 'Bungee Spice', cursive;
    padding-top: 35px;
    font-size: 120px;
    text-align: center;
    margin-bottom: 0;
}

td img{
    max-width: 70%;
    box-shadow: 0 0 20px #f44336,
    0 0 40px #f44336,
    0 0 80px #f44336;
}
td h3{
    color: white;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}
#projects h1{
    font-family: 'Bungee Spice', cursive;
    padding-top: 35px;
    font-size: 120px;
    text-align: center;
    margin-bottom: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 30px;
    color: #555;
}